$dark: #161322;

body, h1 { margin: 0 }

// * {outline: 1px solid red !important}

#greeting, .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: color 0.3s ease-out, background-color 0.3s ease;
}

#greeting {
    font-size: 7vmin;
    height: 100vh;
    display: flex;
    font-family: Montserrat;
    background-color: lighten($dark, 70%);

    &.dark {
        color: white;
        background-color: $dark;
    }
}

#night-mode-toggle {
    user-select: none;
    width: min-content;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s cubic-bezier(0.42, 0.23, 0.16, 1.84);
    font-size: 1.2em;

    &:focus-visible { outline: red solid 2pt }
    &:hover { transform: rotate(45deg) }
}

.card {
    width: 38vw;
    margin: 5vh;
    border-radius: 5pt;
    background-color: white;
    padding: 1.2em;
    text-align: center;
}

.dark {
    #night-mode-toggle { color: white }

    .card {
        background-color: lighten($dark, 10%);
        border: solid 2pt lighten($dark, 70%);
        border-radius: 7pt;
    }
}
